*{
    margin: 0;
    padding: 0;
}
.estiloHeader{
    color: gold;
    background-color: black;
    padding: 1em;
    text-align: center;
    font-family: 'Bonheur Royale', cursive;
    
}
.estiloHeader h1{
    font-size: 6em;
}
.estiloHeader h3{
    font-size: 3em;
}
.cajaPadre{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}
.cajaFormulario{
    margin: 4em;
    padding: 1em;
    color: gold;
    background-color: black;
    border-radius: 2em;
    box-shadow: 1em 1em gray;
}
.cajaFormulario h3{
    text-align: center;
}

.navbar ul li a:hover{
    background-color: gold;
}
.cajaFooter{
    background-color: black;
}
.cajaFooter h6{
    color: white; 
    font-size: 2em;   
}
.cajaFooter p{
    color: white;
    font-size: 1em;
}